{% extends 'base.html.twig' %}

{% block title %}StandardTraining index{% endblock %}
{% block titlePage %}Liste des formations{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Modifier</th>
                <th>Nom</th>
                <th>Nombres d'heures</th>
                <th>Prix de la formation</th>
                <th>Matériaux</th>
                <th>Référence</th>
            </tr>
        </thead>
        <tbody>
        {% for standard_training in standard_trainings %}
            <tr>
                <td>
                    <a href="{{ path('standard_training_edit', {'id': standard_training.id}) }}">Modifier</a>
                </td>
                <td>{{ standard_training.nom }}</td>
                <td>{{ standard_training.nbHours }}</td>
                <td>{{ standard_training.trainingPrice }}</td>
                <td>{{ standard_training.materials }}</td>
                <td>{{ standard_training.reference }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
