{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}
{% block titlePage %}Liste des clients{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Modifier</th>
                <th>Nom</th>
                <th>Site internet</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>
                    <a href="{{ path('customer_edit', {'id': customer.id}) }}">Modifier</a>
                </td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.website }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.postal }}</td>
                <td>{{ customer.note }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
