
{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}
{% block titlePage %}Liste des sessions{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="{{ asset('css/style-test.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div style="margin-top: 2%; margin-bottom: 2%;" class="card mb-4">
        <div class="card-header bg-light">
            <div class="row">
                {#<div class="col-3">
                    <a href="currentSession.php" class="btn btn-primary">Tableaux des sessions en cours</a>
                </div>#}
                <div class="col-3">
                    <i class="fas fa-table me-1"></i>
                    <label>Tableau de toutes les sessions</label>
                </div>
                {#<div class="col-3">
                    <a href="session_annule.php" class="btn btn-success">Tableaux des sessions annulées</a>
                </div>
                <div class="col">
                    <a href="facture_impaye.php" class="btn btn-secondary">Tableaux des factures impayées</a>
                </div>#}
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Client</th>
                    <th>Lieu de formation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Nb stagiaires</th>
                    <th>Formateur</th>
                    <th>Formation</th>
                    <th>Nb Heure</th>
                    <th>Statut</th>
                    <th>Prix devis</th>
                    <th>Adresse Facture</th>
                    <th>N° Facture</th>
                    <th>Type Financement</th>
                    <th>Nom Prénom (facturation)</th>
                    <th>Bon de commande</th>
                    <th>Note</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>
                            <a href="{{ path('session_edit', {'id': session.getToDoList.getId}) }}"
                               class="btn btn-secondary">Modifier</a>
                            <br>
                            <a href="/todolist/{{ session.getToDoList.getId }}/edit" style="margin-top: 1.5%"
                               class="btn btn-primary">Documents administratifs</a>
                        </td>
                        <td>
                            {% for customer in session.getCustomer %}
                                {{ customer }}
                                <br>
                            {% endfor %}
                        </td>
                        <td>{{ session.place }}</td>
                        <td>{{ session.getSessionDate[0].getDateFormation }}</td>
                        <td>{{ (session.getSessionDate|last).getDateFormation }}</td>
                        <td>{{ session.getNbTrainee }}</td>
                        <td>{{ session.getTrainer }}</td>
                        <td>{{ session.getStandardTraining.getName }}</td>
                        <td>{{ session.getStandardTraining.getNbHours }}</td>
                        <td>{{ session.getStatus.getName }}</td>
                        <td>{{ session.getEstimatePrice }}</td>
                        <td></td>
                        <td></td>
                        <td>
                            {% for financingType in session.getBePaids %}
                                {{ financingType.getFinancingType.getName }}
                            {% endfor %}
                        </td>
                        <td>{{ session.purchaseOrder }}</td>
                        <td>
                            {% for customer in session.getCustomer %}
                                {{ customer.getContacts[0]}}
                                <br>
                            {% endfor %}
                        </td>
                        <td>{{ session.getNote }}</td>
                        <td><a href="" class="btn btn-primary">Devis</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- <button class="btn btn-primary">Télécharger le document word</button> -->
        </div>
    </div>

{% endblock %}

{% block endjavascripts %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script !src="">
        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });
    </script>
{% endblock %}

