{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}
{% block titlePage %}Liste des sessions{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Modifier</th>
                <th>Lieu de formation</th>
                <th>Nombre de stagiaires</th>
                <th>Prix du devis</th>
                <th>Bon de commande</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="/todolist/{{ session.getToDoList.getId }}/edit" class="btn btn-primary">Documents administratifs</a></td>
                <td>
                    <a href="{{ path('session_edit', {'id': session.getToDoList.getId}) }}">Modifier</a>
                </td>
                <td>{{ session.place }}</td>
                <td>{{ session.nbTrainee }}</td>
                <td>{{ session.estimatePrice }}</td>
                <td>{{ session.purchaseOrder }}</td>
                <td>{{ session.note }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
