{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Place</th>
                <th>NbTrainee</th>
                <th>EstimatePrice</th>
                <th>NumberEstimate</th>
                <th>PurchaseOrder</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="/todolist/{{ session.getToDoList.getId }}/edit" class="btn btn-primary">Documents administratifs</a></td>
                <td>{{ session.id }}</td>
                <td>{{ session.place }}</td>
                <td>{{ session.nbTrainee }}</td>
                <td>{{ session.estimatePrice }}</td>
                <td>{{ session.numberEstimate }}</td>
                <td>{{ session.purchaseOrder }}</td>
                <td>{{ session.note }}</td>
                <td>
                    <a href="{{ path('session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('session_new') }}">Create new</a>
{% endblock %}
