{% extends 'base.html.twig' %}

{% block title %}TrainingRequest index{% endblock %}
{% block titlePage %}Liste des demandes de formations{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>Date de la demande</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for training_request in training_requests %}
            <tr>
                <td><a style="color: {{ training_request.getColor }}" href="{{ path('training_request_edit', {'id': training_request.id}) }}">{{ training_request.name }}</a></td>
                <td>{{ training_request.firstname }}</td>
                <td>{{ training_request.mail }}</td>
                <td>{{ training_request.phone }}</td>
                <td>{{ training_request.dateRequest ? training_request.dateRequest|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ training_request.getAction.getName }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
